.sketchCard {
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 0.8em;
	border-radius: 10px;
	border: 3px solid transparent;
	background: rgb(34, 34, 34);
	padding: 1em;
}
.sketchCard:hover {
	background: linear-gradient(45deg, #00000000, #ffb70325) padding-box,
		linear-gradient(135deg, rgba(255, 255, 255, 0.184), #ff000021)
			border-box;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(30px);
}
