@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("/fonts/InterVariable.woff2") format("woff");
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Inter, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #d8d8d8;
    background-color: rgb(37, 37, 37);
}
#root {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
    opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff2d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff54;
    border-radius: 10px;
}

@media (max-width: 760px) {
    #root {
        grid-template-rows: auto 1fr auto;
    }
}

.react-p5-wrapper {
    margin: 0;
    padding: 0;
}
